<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72192994295-bg47b24lb6uql5t806tj14j2is45niro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72192994295-bg47b24lb6uql5t806tj14j2is45niro</string>
	<key>API_KEY</key>
	<string>AIzaSyAC6wUu44HgmLScybQ_HwhSN3LXFB3CPEs</string>
	<key>GCM_SENDER_ID</key>
	<string>72192994295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.d214.jhhs.622269.CPBFirebase</string>
	<key>PROJECT_ID</key>
	<string>cpbfirebase-ddc05</string>
	<key>STORAGE_BUCKET</key>
	<string>cpbfirebase-ddc05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72192994295:ios:d421f02990f4bab39a9cf2</string>
	<key>DATABASE_URL</key>
	<string>https://cpbfirebase-ddc05.firebaseio.com</string>
</dict>
</plist>